.DS_Store
.vscode

# source directory not currently versioned
/database/source-postgres-api

# local directories and builds
/notes
/database/build
/database/build-postgres-api
/database/build-aws

/database/source-api/opt/

# treefrog files and directories
/api/config
/api/.qmake.stash
/api/Makefile

/api/controllers/.obj
/api/controllers/Makefile

/api/db

/api/helpers/.obj
/api/helpers/Makefile

/api/lib
/api/log

api/models/.obj
api/models/Makefile

/api/plugin
/api/sql
/api/test

api/views/