[submodule "database/source-postgres-api/opt/cpr"]
	path = database/source-postgres-api/opt/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "database/source-postgres-api/opt/json"]
	path = database/source-postgres-api/opt/json
	url = https://github.com/nlohmann/json.git
