.DS_Store
.vscode

# source directories not currently versioned
/database/source-api
/database/source-postgres

# local and build directories
/notes
/database/build
/database/build-aws
/database/build-api
/database/build-postgres
/database/build-postgres-api

# treefrog files and directories
/api/config
/api/build
# treefrog testing files
api/test/api/config

# moc files
*.moc

# log files
*.log

# pri files
*.pri

# gz files
*.gz

# Makefiles
*Makefile

# qmake files
*.qmake.stash

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app